.Window_GUITestApp {
  .select-wrapper {
    width: 80px;
  }

  .manageIcons {
    font-size: 1.1em;
    color: #ffffff;
    display: block;
  }

  .mainHead {
    margin: 0px;
    width: 100%;
    text-align: center;
  }

  .DashBG {
    height: 100%;
    overflow-y: auto;
  }

  .dashIcons {
    width: 90%;
    height: 100%;
    margin-top: -3%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: safe center;
    min-height: -webkit-min-content; // works for opera and safari
    min-height: min-content;
  }

  #pageTitle {
    font-size: 25px;
    color: #183651;
    padding-top: 5px;
    font-family: "Century Gothic", "Futura", "Didact Gothic", san-serif;
    font-weight: 500;
  }

  .block {
    height: 105px;
    width: 130px;
    display: inline-block;
    margin: 25px;
    padding-bottom: 20px;
  }

  .titles {
    font-family: serif;
    font-size: 22px;
    font-weight: 600;
  }
}
