
* { margin:0; padding:0; box-sizing: border-box; -webkit-font-smoothing: antialiased; position:relative; font-family: 'Lato', sans-serif;}


/*layout styles -- for all the pages*/
.masterwrap { min-height:100vh; display:block; z-index:2; }
.header { min-height:60px; position:fixed; top:0; left:0; width: 100%; z-index:999;}
.footer { width: 100%; background-color: #2B2B2B; color: white;}
.container { margin:0 auto; max-width:1024px; }

/*Layout and columns*/
.row { }
.row [class^=col-]:first-child { margin-left:0;}
.row [class^=col-] { display:inline-block; vertical-align: top; margin-left: -4px; }
.row.alignmiddle [class^=col-] { vertical-align: middle; }

.col-10 {width:10%}
.col-20 {width:20%}
.col-30 {width:30%}
.col-40 {width:40%}
.col-50 {width:50%}
.col-60 {width:60%}
.col-70 {width:70%}
.col-80 {width:80%}
.col-90 {width:90%}

.col-5 {width:5%}
.col-15 {width:15%}
.col-25 {width:25%}
.col-35 {width:35%}
.col-45 {width:45%}
.col-55 {width:55%}
.col-65 {width:65%}
.col-75 {width:75%}
.col-85 {width:85%}
.col-95 {width:95%}
.col-33 {width:33.33%}

.navi li { display: inline-block; vertical-align: middle;}
.navi li a { display: block;}

/*Positions*/
.topright {position:absolute; top:0; right:0; }
.topleft {position:absolute; top:0; left:0; }
.bottomleft {position:absolute; bottom:0; left:0; }
.bottomright {position:absolute; bottom:0; right:0; }
.rightmiddle {position:absolute; top:50%; right:0; transform:translateY(-50%); }
.leftmiddle {position:absolute; top:50%; left:0; transform:translateY(-50%); }
.centermiddle {position:absolute; top:50%; left:50%; transform:translateY(-50%) translateX(-50%);}

/*Positions-outside*/
.topright-outside {position:absolute; bottom:100%; right:0; }
.topleft-outside {position:absolute; bottom:100%; left:0; }
.bottomleft-outside {position:absolute; top:100%; left:0; }
.bottomright-outside {position:absolute; top:100%; right:0; }


.is-z2 { z-index: 2;}
.is-z1 { z-index: 1;}


/*Form elements and buttons*/
input, select, textarea, .fake-field, .btn { padding:8px 10px; border:1px #ccc solid; color:$text; width:100%; font-size:inherit; outline:none; resize:none; @extend .bdr-rad; font-family: inherit; vertical-align:middle; }
input:focus, select:focus, textarea:focus { background:white; border:1px #ffbe02 solid;}
select { padding-right:30px; height:35px; background-color: white;}
label { display: block;}

textarea.welcome, textarea.welcome:focus { border:none; padding: 0px;}

.btn, input[type="submit"], button, a.btn { border: none; outline: none; display: inline-block; width: auto; @extend .bdr-rad; @extend .cursor; }

.btn.primary { background-color: #FFBE00; }
.btn.primary.outline { background-color: transparent; color: #FFBE00; box-shadow: 0 0 0 2px rgba(0,0,0,0.2) inset }
/*
.btn.secondary { background-color: $secondary; color:white; }
.btn.secondary.outline { background-color: transparent; color: $secondary; fill: $secondary; border:1px $secondary solid; }

.btn.grey { background-color: $formbdr; color:$black }
.btn.grey.outline { background-color: transparent; color: $formbdr; border:1px $formbdr solid; }*/

:disabled, .disabled { opacity: 0.5; pointer-events:none;}

input[type="checkbox"], input[type="radio"] {width:auto; vertical-align:middle; }

.checkbox input[type="checkbox"]{ opacity: 0; position: absolute;   }
.checkbox label { display: inline-block; vertical-align: top; cursor: pointer; position: relative; padding-left: 35px; min-height: 25px; }
.checkbox label span {display:inline-block; vertical-align:middle;}
.checkbox label:before { content: ''; background: #fff; border: 1px solid #ccc; display: inline-block; vertical-align: middle; width: 20px; height: 20px; padding: 2px; margin-right: 10px; text-align: center; border-radius: 3px; position: absolute; top: 0; left: 0; }
.checkbox label:after { content: "";  border: 3px solid #79d4bc;  border-width: 0 3px 3px 0px;  position: absolute;  top: 5px;  left: 10px;  width: 4px;  height: 10px;  transform: rotate(45deg); display:none; }
.checkbox input[type="checkbox"]:checked + label:after { display:block; }

.radio { display:inline-block; min-height:22px; }
.radio input[type="radio"] { position: absolute; z-index: 1; width: 20px; height: 20px; opacity:0; cursor:pointer;}
.radio label { display:inline-block; cursor:pointer; padding-left:30px;}
.radio label:before { width:20px; height:20px; border:1px $formbdr solid; content:""; display:inline-block; vertical-align:middle; background:white; border-radius:50%; position: absolute; top: 0; left: 0; }
.radio label:after { content: ""; position: absolute; top: 6px; left: 6px; width: 10px; height: 10px; display:none; border-radius:50%; background-color:$primary}
.radio input[type="radio"]:checked + label:after {display:block;}

/*Popup styles*/
.popup { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 997; overflow-x:auto;}
.popup-container { position:absolute; top:50%; left:50%; transform:translateY(-50%) translateX(-50%); overflow: hidden; @extend .bdr-rad;}
.auto-scroll { max-height: 60vh; overflow-y:auto;}
.w300 { max-width:300px;}
.w350 { max-width:350px;}
.w400 { max-width:400px;}
.w450 { max-width:450px;}
.w500 { max-width:500px;}
.w600 { max-width:600px;}
.w700 { max-width:700px;}
.w800 { max-width:800px;}

/*Customizing Select box*/
.select {}
.select:before { pointer-events:none; width:30px; content:""; position: absolute; right:1px; top:1px; background:white; border-left:1px solid $formbdr; height:calc(100% - 2px); z-index:1; border-radius: 0 4px 4px 0px; box-sizing:border-box; }
.select:after { pointer-events: none; width: 6px; height: 6px; transform: rotate(-45deg); border: #8f97a0 2px solid; content: ""; border-width: 0 0 2px 2px; z-index: 1; position: absolute; top: 50%; right: 12px; margin-top: -6px; }

/*Margins*/
	.m5{ margin:5px;}
	.m10{margin:10px;} .m15{margin:15px;}.m20{margin:20px;}.m25{margin:25px;}.m30{margin:30px;}.m35{margin:35px;}.m40{margin:40px;}.m45{margin:45px;}.m50{margin:50px;}.m55{margin:55px;}.m55{margin:55px;}.m60{margin:60px;}

/*Margin top*/
	.mt5{margin-top:5px;}
	.mt10{margin-top:10px;}  .mt15{margin-top:15px;} .mt20{margin-top:20px;} .mt25{margin-top:25px;} .mt30{margin-top:30px;} .mt35{margin-top:35px;} .mt40{margin-top:40px;} .mt45{margin-top:45px;} .mt50{margin-top:50px;} .mt55{margin-top:55px;} .mt55{margin-top:55px;} .mt60{margin-top:60px;}

/*Margin bottom*/
	.mb5{ margin-bottom:5px;}
	.mb10{margin-bottom:10px;} .mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}.mb35{margin-bottom:35px;}.mb40{margin-bottom:40px;}.mb45{margin-bottom:45px;}.mb50{margin-bottom:50px;}.mb55{margin-bottom:55px;}.mb55{margin-bottom:55px;}.mb60{margin-bottom:60px;}

/*Margin right*/
	.mr5 {margin-right:5px;}
	.mr10{margin-right:10px;}  .mr15{margin-right:15px;} .mr20{margin-right:20px;} .mr25{margin-right:25px;} .mr30{margin-right:30px;} .mr35{margin-right:35px;} .mr40{margin-right:40px;} .mr45{margin-right:45px;} .mr50{margin-right:50px;} .mr55{margin-right:55px;} .mr55{margin-right:55px;} .mr60{margin-right:60px;}

/*Margin left*/
	.ml5 {margin-left:5px;}
	.ml10{margin-left:10px;}  .ml15{margin-left:15px;} .ml20{margin-left:20px;} .ml25{margin-left:25px;} .ml30{margin-left:30px;} .ml35{margin-left:35px;} .ml40{margin-left:40px;} .ml45{margin-left:45px;} .ml50{margin-left:50px;} .ml55{margin-left:55px;} .ml55{margin-left:55px;} .ml60{margin-left:60px;}

/*Paddings*/
	.p5{padding:5px} .p8{padding:8px}
	.p10{padding:10px;}  .p15{padding:15px;} .p20{padding:20px;} .p25{padding:25px;} .p30{padding:30px;} .p35{padding:35px;} .p40{padding:40px;} .p45{padding:45px;} .p50{padding:50px;} .p55{padding:55px;} .p55{padding:55px;} .p60{padding:60px;}

/*Padding bottom*/
	.pb5{padding-bottom:5px;} .pb8{padding-bottom:8px}
	.pb10{padding-bottom:10px;}  .pb15{padding-bottom:15px;} .pb20{padding-bottom:20px;} .pb25{padding-bottom:25px;} .pb30{padding-bottom:30px;} .pb35{padding-bottom:35px;} .pb40{padding-bottom:40px;} .pb45{padding-bottom:45px;} .pb50{padding-bottom:50px;} .pb55{padding-bottom:55px;} .pb55{padding-bottom:55px;} .pb60{padding-bottom:60px;}

/*Padding top*/
	.pt5{padding-top:5px} .pt8{padding-top:8px}
	.pt10{padding-top:10px;}  .pt15{padding-top:15px;} .pt20{padding-top:20px;} .pt25{padding-top:25px;} .pt30{padding-top:30px;} .pt35{padding-top:35px;} .pt40{padding-top:40px;} .pt45{padding-top:45px;} .pt50{padding-top:50px;} .pt55{padding-top:55px;} .pt55{padding-top:55px;} .pt60{padding-top:60px;} .pt100 {padding-top: 100px;}

/*Padding left*/
	.pl5{padding-left:5px;}
	.pl10{padding-left:10px;} .pl15{padding-left:15px;} .pl20{padding-left:20px;} .pl25{padding-left:25px;} .pl30{padding-left:30px;} .pl35{padding-left:35px;} .pl40{padding-left:40px;} .pl45{padding-left:45px;} .pl50{padding-left:50px;} .pl55{padding-left:55px;} .pl55{padding-left:55px;} .pl60{padding-left:60px;}

/*Padding right*/
    .pr5{padding-right:5px;}
    .pr10{padding-right:10px;}
    .pr15{padding-right:15px;} .pr20{padding-right:20px;} .pr25{padding-right:25px;} .pr30{padding-right:30px;} .pr35{padding-right:35px;} .pr40{padding-right:40px;}.pr45{padding-right:45px;} .pr50{padding-right:50px;} .pr55{padding-right:55px;} .pr55{padding-right:55px;} .pr60{padding-right:60px;}

/*Font Weights*/
.fw-l { font-weight:300}
.fw-r { font-weight:400}
.fw-sb { font-weight:600}
.fw-b { font-weight:700}
.fw-eb { font-weight:800}

/*Font Sizes*/
.f0	{ font-size:0;}
.f10 { font-size:10px}
.f11 { font-size:11px}
.f12 { font-size:12px}
.f14 { font-size:14px}
.f16, h4 { font-size:16px}
.f18, h3 { font-size:18px}
.f21, h2 { font-size:21px}
.f24, h1 { font-size:24px}
.f26 { font-size:26px}


/*Avatars*/
[class^="avatar-"], [class*="avatar-"] {display:inline-block; vertical-align:middle; border-radius: 50%; background-color:#f1f1f1;}

/*Icons*/
[class^="icon-"], [class*=" icon-"], .icon {width:auto; height:auto; display:inline-block; vertical-align:middle; /*fill:#000*/}
.is-12 {width:12px; height:12px;}
.is-16 {width:16px; height:16px;}
.is-24 {width:24px; height:24px;}
.is-32 {width:32px; height:32px;}
.is-36 {width:36px; height:36px;}
.is-64 {width:64px; height:64px;}
.is-48 {width:48px; height:48px;}
.is-72 {width:72px; height:72px;}
.is-wide {width: 120px; height: 40px;}

.white-fill { fill:white;}

/*Misc*/
li { list-style: none;}
.bdr-rad { border-radius: 3px;}
.cursor { cursor: pointer}
.red { color:#F70606; fill:#F70606}
.white { color:#FFF;}
.load-align {vertical-align: super;}
.inblock{display: inline-block;}
/*.block{display: block;}*/
.aligntop {vertical-align:top}
.alignmiddle {vertical-align:middle}
.alignbottom {vertical-align:bottom}

.text-right { text-align:right;}
.text-center { text-align:center;}
.text-left { text-align:left;}
.max-width {max-width: 100%; }

.lh0 {line-height:0; }
.lh-n {line-height:normal; }
.lh-8 {line-height:0.8; }
.lh-1 {line-height:1; }
.lh-11 {line-height:1.1; }
.lh-12 {line-height:1.2; }
.lh-14 {line-height:1.4; }
.lh-15 {line-height:1.5; }

.of-hide { overflow:hidden;}
.hide { display:none;}

.ellipsis { max-width:100%; white-space:nowrap;  text-overflow: ellipsis; overflow: hidden;  }

.desk-hide { display: none;}


.bg-cover { background-size: cover; background-position:center;}
.bg-primary { background-color: #FFBE00;}
.bg-secondary { background-color: $secondary; color: white;}
.bg-white { background-color: white;}
.counter { border-radius: 50%; display: inline-block; text-align: center; }
.rel { position: relative; }
.fullheight { min-height:100vh;}
.h100p { height:100%;}
.w100p {width: 100%;}
.alp-50{opacity: 0.5;}
.has-flex { display: flex; align-items: center;}
.is-flex { flex: 1;}

.clr-light { color: $light;}

.animate{-webkit-transition: all 300ms ease-out; /* older webkit */
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out; /* easeInOutBack */

	-webkit-transition-timing-function: ease-out; /* older webkit */
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out; /* easeInOutBack */}

.container.gal {padding: 0;}
