
@import 'variables';
@import 'common.css';

* { font-family: $font, sans-serif;}

// Osjs Window
    .osjs-window            {   
        border-width: 0 !important;  
        box-shadow :0 0 4px rgba(0,0,0,0.15) !important;
        border-radius: 6px;}
    .osjs-window-inner      { background-color: $white; border-radius: $bdr-rad; overflow:hidden;}
    .osjs-window-header     { background-color: $primary; color: $white;}
    .osjs-window-title      {  }
    .osjs-window-content    { padding: 10px;} //For testing

// Icon Fills
    .fill-white { fill: $white;}

// Page Header
    .custom.osjs-panel { color: white; width: 100%; position: absolute; top: 0; left: 0; display: flex; background-color: $primary; padding: 10px; }

    //App Pills
    .osjs-panel-item--clickable { font-size: 12px; color: white; background-color: rgba(255,255,255,0.4); border-radius: 20px; padding: 3px 3px 3px 10px; display: inline-block;  }
    .app-x { display: inline-block; vertical-align: middle; width: 19px; height: 19px; background: $primary; border-radius: 10px;}

//Main Menu
    .appmenu .app-bar { background-color: white; padding: 0;  @extend .box-shadow;  } 
    .app-bar .caption { font-weight: 800; color: $grey; text-transform: uppercase; padding: 20px 0px 15px; border-bottom:2px dotted $grey; }
    .appmenu .app-bar .app { min-height: auto; font-size: 14px; margin: 0; padding: 0; border-bottom: 1px dashed rgba($grey,0.5); color: $primary;}
    .appmenu .app-bar .app:hover { background: rgba($text,0.05);}
    .appmenu .app-bar .category { padding: 25px 20px 0px;}

    .appmenu:before {
        bottom: 100%; left: 50px; border: solid transparent;
        content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 10px; margin-left: -10px;
    }

    .appmenu .app-bar .category .caption { background: none; color: $primary; margin: 0;}

//Profile Menu
    .profile-content { background-color: white; padding: 15px 25px 15px; @extend .box-shadow; min-width: 220px; }
    .profile-dropdown-div { border-bottom: 1px dashed rgba($grey,0.5); padding: 0px 0 15px 0; height: auto; }
    .profile-dropdown-image {width: 60px; height: 60px; display: inline-block; vertical-align: middle;}
    .profile-dropdown-text { display: inline-block; vertical-align: middle; }

    a.logout { margin: 10px 0 5px; display: block;}
    a.logout .profile-dropdown-div { border: none; padding-bottom: 0; }
    a.logout .profile-dropdown-image { width: 36px; height: 36px; max-height: none; max-width: none; vertical-align: middle; display: inline-block; margin: 5px 8px 0 0;}

    img.profileicon { width: 36px !important; height: 36px !important; margin-top: 4px !important;}
    .profile-content:before { 
        bottom: 100%; right: 24px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-bottom-color: #fff; border-width: 8px; margin-left: -8px;
    }

    .profile-dropdown-text { font-size: 16px;}

    .osjs-panel-item[data-name=tray] {}
    .osjs-panel-item[data-name=tray] > div { height: 36px; width: 36px; margin-top: 8px;}
    .osjs-panel-item[data-name=tray] > div > img { height: 24px; margin-left: 7px;}

    .osjs-window-icon > div { width: 2em; height: 2em; background-color: #275261; margin-top: 7px; margin-right: 7px; }

    .osjs-window[data-maximized=true] {padding: 1px;}

    .badgeCheck {    height: 16px; min-width: 16px; padding: 0 3px; line-height: 16px;}

//Common
    .box-shadow { box-shadow: 0 0 10px $shadow;}
    .fill-white path { fill: white;}

    .osjs-window-header.pl10 .osjs-window-icon { background-color: transparent !important;} //not the right way;

// Search Container
    .osjs-search-container { @extend .box-shadow; border-radius: 4px; background: white !important; border:1px rgba($grey,0.5) solid;}
    input[type="text"].osjs-search-input { margin-bottom: 0; border: none; padding: 5px 10px; height: auto; font-size: 20px; }

//.osjs-notifications
    .osjs-notification { border-radius: 4px; @extend .box-shadow;}

//Do not use - for mockups only

    .app-menu-not-req { position: absolute; top:45px; left: 0; }
    .profile-menu-not-req { position: absolute; top:45px; right: 32px; }