.PageRender {
  .commentsPage {
    $blue: #007bff;
    $blue-light: #007bff10;
    $blue-hover: #007bff30;
    $blue-light-opaque: #eff7ff;
    $blue-mid: #007bff99;
    $pblue: #4c75f2;
    $pblue-light: #4c75f210;
    $pblue-hover: #4c75f230;
    $pblue-light-opaque: #eff7ff;
    $pblue-mid: #4c75f299;
    $indigo: #6610f2;
    $purple: #6f42c1;
    $pink: #e83e8c;
    $cherry: #ff073a;
    $cherry-mid: #ff073a99;
    $cherry-light: #ff073a20;
    $cherry-hover: #ff073a30;
    $cherry-light-opaque: #ffe0e6;
    $red: #dc3545;
    $red-light: #dc354520;
    $red-mid: #dc354599;
    $orange: #fd7e14;
    $orange-mid: #fd7e1499;
    $orange-light: #fd7e1420;
    $orange-hover: #fd7e1430;
    $orange-light-opaque: #ffefe2;
    $yellow: #ffc107;
    $yellow-light: #ffc10720;
    $yellow-hover: #ffc10730;
    $yellow-mid: #ffc10799;
    $yellow-light-opaque: #fff7e0;
    $green: #28a745;
    $green-light: #28a74520;
    $green-hover: #28a74530;
    $green-mid: #28a74599;
    $teal: #20c997;
    $cyan: #17a2b8;
    $white: #fff;
    $gray: #6c757d;
    $gray-light: #6c757d10;
    $gray-light-opaque: #f6f6f7;
    $gray-hover: #6c757d20;
    $gray-mid: #6c757d99;
    $gray-dark: #343a40;
    $gray-opaque: #f1f1f1;
    $primary: #007bff;
    $secondary: #6c757d;
    $success: #28a745;
    $info: #17a2b8;
    $warning: #ffc107;
    $danger: #dc3545;
    $light: #f8f9fa;
    $dark: #343a40;
    $purple: #201aa2dd;
    $purple-light: #201aa220;
    $purple-hover: #201aa230;
    $purple-mid: #201aa299;
    $purple-light-opaque: #e3e2f3;
    $pink: #fb5581;
    $pink-light: #ffa8cb10;
    $pink-hover: #ffa8cb30;
    $pink-mid: #ffa8cb99;
    $brick: #e23028;

    .updates {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 100%;
      margin-bottom: 1rem;
      .update {
        background: $gray-light;
        margin-bottom: 0.5rem;
        padding: 0.75rem;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        word-break: break-word;

        div.col-1 {
          align-items: center;
          display: flex;
          flex-direction: column;
        }
        &:hover {
          background: $gray-hover;
        }

        button {
          width: 35px;
          height: 35px;
          background-color: #fffffff2;
          color: #275362;
          font-size: 20px;
          border-radius: 51px;
        }

        h5,
        h4 {
          margin: 0;
        }

        h5 {
          color: $gray;
          font-weight: 600;
        }

        h4 {
          color: $gray;
          font-weight: 600;
        }
      }

      .button {
        background: $pblue-light;
        height: 3rem;
        display: flex;
        flex-direction: row;
        color: $pblue;
        width: 13rem;
        & > * {
          align-self: center;
        }

        &:hover {
          background: $pblue-hover;
        }
      }

      a {
        color: inherit;
        text-decoration: none;
        flex-direction: row;
        display: flex;
        & > * {
          align-self: center;
        }
      }
    }

    .commentBox {
      align-items: flex-end !important;
      background-color: #ededed;
      padding: 10px 10px 0px 10px;
      border-radius: 10px;
      max-height: 125px;
    }

    thead {
      display: none;
    }

    .k-grid-table {
      border-spacing: 1em;

      td:first-child {
        background-color: #ededed;
        border-radius: 15px;
      }

      .k-grid td{
        border-width: 0px;
      }
    }

    .flexCol {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mentions {
      width: 100%;
    }

    // .mentions--multiLine {
    //   overflow-y: scroll !important;
    // }
    .mentions__suggestions {
      z-index: 1000;
    }
    .mentions__suggestions__list {
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.15);
      font-size: 10pt;
    }

    .mentions__suggestions__item {
      padding: 5px 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
}
