.PageRender {
  .breadcrumbs {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 30px;
    border-radius: 1rem;
  }

  .breadcrumbs-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    color: #275362;
    a {
      color: #275362;
      padding-left: 5px;
      font-size: 24px;
    }
    a:focus,
    a:hover {
      text-decoration: none;
    }
    .seperator {
      margin-right: 0.5rem;
      color: #bababb;
      font-size: 24px;
    }
  }
  .searchInput {
    border: 0;
    background: transparent;
    letter-spacing: 1px;
    font-weight: 600;
    color: #1a1a1a;
    height: 60px;
    padding: 0 1rem 0 2.5rem;
    font-size: 1.75rem;
    font-weight: 300;
    width: 100%;
  }
}

.k-popup {
  font-size: small;
  margin: unset;
  padding: unset;
}

.k-item:focus,
.k-list .k-item.k-state-focused {
  box-shadow: unset !important;
}

.k-list .k-item {
  background-color: #2a4f5d;
  color: white;
}

.breadcrumbParent {
  border-bottom: 1px solid #275362;
  margin-bottom: 0.8rem;
}

.loaderAnimation {
  display: flex;
  height: 100%;
}

.loaderAnimation > div {
  margin: auto;
}
.searchPageDiv {
  width: 100%;
}
.searchPageDiv .seperator{
  border-bottom: 1px solid #275362;
    width: 80%;
    margin-top: 20px;
}
.searchText{
  padding: 1.5em;
}
.searchPageDiv .icon{
        box-sizing: border-box;
    color: #a5b4c4;
    display: block;
    fill: #a5b4c4;
    font-family: MaisonNeue, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 24px;
    height: 24px;
    position: relative;
    text-size-adjust: 100%;
}
.searchInput {
border: 0;
    background: transparent;
    letter-spacing: 1px;
    color: #1a1a1a;
    height: 60px;
    padding: 0px 1rem 0 2.5rem;
    font-size: 1.75rem;
    font-weight: 300;
    display: inline-block;
    width: 100%;
    top: 5%;
    position: absolute;
}

