.osjs-root > .osjs-window {
  &[data-minimized="true"] {
    opacity: 0;
    pointer-events: none;
    display: block; /* We'll do this with JS */
  }

  &[data-minimized="false"] {
    display: block;
  }

  &:not([data-moving="true"]):not([data-resizing="true"]) {
    transition: all ease-in-out 0.1s;
  }
}

.osjs-panel-item[data-name="windows"] > div {
  transition: all ease-in-out 0.1s;
}