.osjs-window[data-id="annoucementsWindow"] {
   .osjs-window-button[data-action="minimize"] > div {
     background-position: 50% 50%;
     background-image: url("./close.svg");
   }
     .osjs-window-icon > div {
        cursor: auto!important;
    }
  @import "./node_modules/bootstrap/dist/css/bootstrap.css";
  @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

  .Announcement-visuals {
    background-color: grey;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    align-content: center;
  }

  .fallbackImage {
    height: 45%;
    width: 100%;
  }

  .fallbackText {
    background-color: #3c3a3abf;
    height: 15vh;
  }

  .Announcement-visuals {
    img {
      width: auto;
      height: 100%;
      max-width: 100%;
    }
  }

  .Announcement-content {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
    height: auto;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: auto;
  }

  h5,
  h6 {
    white-space: normal;
    font-weight: bolder;
  }

  .announcement-slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
  }

  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .slide {
    position: unset;
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  .arrowWrap {
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    position: absolute;

    .arrow {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      transition: transform ease-in 0.1s;
      opacity: 0.3;
    }

    div.arrow:hover {
      opacity: 1;
      background-color: white;
    }

    .backArrow {
      z-index: 100;
      color: gray;
      opacity: 0.3;
      background-color: white;
      margin-left: 1%;
    }

    .nextArrow {
      z-index: 100;
      color: gray;
      opacity: 0.3;
      background-color: white;
      margin-right: 1%;
    }
  }

  .AncVideo {
    max-width: 100%;
    height: 85%;
  }

  .cloud-sliding-panel-container {
    overflow: hidden;
    background-color: #0000004d;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    .bottomPanelShow {
      width: 87%;
      height: 81%;
      overflow-y: auto;
    }
    .panel-glass {
      height: inherit;
      width: inherit;
    }
    .popup-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;

      h6 {
        font-size: 1.5rem;
        margin-bottom: 3vh;
        margin-top: 4vh;
        max-width: 70%;
        user-select: text;
      }

      .mainText {
        user-select: text;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased !important;
        -moz-font-smoothing: antialiased !important;
        text-rendering: optimizelegibility !important;
        letter-spacing: 0.03em;
        max-width: 80%;
        font-family: "Open Sans", sans-serif;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        line-height: 135%;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        white-space: normal;
        word-break: break-word;
      }

      .buttonWrap {
        margin: 3%;
        width: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      .popupButtons {
        margin-left: 6%;
        margin-right: 6%;
      }
    }
  }

  .actionButton {
    -webkit-appearance: none;
    width: auto;
    min-width: 100px;
    border-radius: 24px;
    text-align: center;
    padding: 9px 15px;
    background-color: #275362;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 2px 2px 6px 1px #000000b5;
    border: none;
    outline: 0;
    &:active {
      transform: scale(0.99);
    }
  }
}
