
/* figure, */
figure.oxzion-widget,
div.oxzion-widget
{
    text-align:center;
    outline:solid 1px #ccc;
    background:rgba(0,0,0,0.05);
    margin:10px 20px;
    display:inline-block;
    position:relative;
}

/* figure > figcaption, */
figure.oxzion-widget > figcaption
{
    text-align:center;
    /* display:block; */
    display:none;
}

figure.oxzion-widget > div.oxzion-widget-roll-up-button, 
div.oxzion-widget > div.oxzion-widget-roll-up-button {
    z-index:2;
    position:absolute;
    top:0px;
    right:0px;
    font-size:30px;
    margin:10px;
    cursor:pointer;
}

div > div.oxzion-widget-drilldown-icon{
    position: absolute;
    top: 1%;
    left: 1%;
    color: #265160;
    z-index: 10;
  
}

div > div.oxzion-widget-drilldown-table-icon{
    color: #265160;
    z-index: 10;
    position: relative;
    float: right;
    top: 20px;
    margin-right: 10px;
    margin-left: 12px;
}

.oxzion-widget-drilldown-excel-icon{
    float: right;
    top: 20px;
    position: relative;
    z-index: 10;
    width: 16px;
    cursor: pointer;
}