#iconj {
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.labelid{
margin-left:0px;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.contact{
	padding-left:10px;
}

#imgsave{
	margin-left:10px;
	margin-right: 10px;
}

#name {
  font-size: 15px;
  color: #333 !important;  
}

.name {
  font-size: 15px;
  color: #333 !important;
}

#cardwidth {
  width: 100%;
}

.img1 {
  margin-bottom: 20px;
}

.form {
  height: 100%;
  width: 100%;
}

.tabs {
  height: 100%;
  width: 100%;
}

#edit1 {
  cursor: pointer;
}

#goBack {
	margin-bottom: 20px;
	margin-top:20px;
	margin-left:10px;
}

.imgupload{
	margin-left: 10px;
}

#row1{
  padding-top: 0% !important;
  margin-bottom:0px !important; 
}

.marginsize1{
 margin-bottom:0px !important; 
}

#goBack1{
	margin-left:10px;

}

.row {
  padding-bottom: 0% !important;
  padding-top: 0% !important;
  margin-bottom:5px !important;
}
.tabHeader{
  font-size: 16px;
}


.buttons {
  margin-right: 3%;
  margin-left: 3%;
}

#imgcrop {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.add {
  word-wrap: break-word;
} 

#card {
  margin-right: 10%;
  background-size: cover;
  margin-left: 10%;
  margin-top:5%;  
} 
.dropdown-content{
	height:200px;
	width: 350px !important;
 }

.datepicker-modal{
  width:600px !important;
}

.marginsize{
  margin-bottom: 8px !important;
}

.savebutton{
  padding-left: 2% !important;
}

.formmargin{
  margin-right:2% !important;
  margin-left:2% !important;
}

.gender2{
  margin-bottom: 0px !important;
  margin-top:0px !important;
}

.gender1{
  margin-bottom: 0px !important;
  margin-top:0px !important;
  padding-left: 0px !important;

}

.timezonediv{
  width:31% !important;
}

#info{
  padding: 0% !important;
}
