
@import 'variables';
@import 'common.css';

* { 
    box-sizing: border-box; 
    font-family: $font, sans-serif;
}

// Osjs Window
    .osjs-window-inner      { background-color: $white; border-radius: $bdr-rad; overflow: hidden; box-shadow: 0 0 10px $shadow;}
    .osjs-window-header     { background-color: $primary; color: $white;}
    .osjs-window-title      {  }
    iframe{
    	border:0;
    }

// Icon Fills
    .fill-white { fill: $white;}