@import "~typeface-roboto/index.css";
@import "~@osjs/gui/dist/main.css";
@import "~@osjs/dialogs/dist/main.css";
@import "~@osjs/panels/dist/main.css";

.osjs-window-header{
	height:3em;
}
.osjs-window-icon > div{
	height:3em;
	width:3em;
}