/*!
* This is the login page stylesheet.
* @author  Bharat Gogineni <bharat@vantageagora.com>
*/
html{
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    margin: 0;
    background-image: url('../images/OX_Background_WallPaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.57;
    color: #545456;
    background-color: #fff;
}
.loginContainer {
    height: 100%;
    width: auto;
    display: flex !important;
    flex-direction: row-reverse;
}
#login-container {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ox-container {
    height: 100%;
}

#ox-login-form {
    width: 31%;
    min-height: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    flex-flow: column;
    flex-grow: 3;
}


.form-wrapper {
    max-width: 515px;
    background: rgba(255, 255, 255, 0.8);
    padding: 30px 0;
    display: flex;
}
.form-wrapper__inner {
    align-items: center;
    padding: 65px;
}
.form-signin__footer{
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
}
.form-signin {
    width: 100%;
}
.footer-links{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    text-align: center;
}

.ox-form {
    margin: 0;
}

.ox-imgDiv {
    text-align: center;
    margin-bottom: 90px;
}

.ox-content {
    width: 100%;
    padding: -5 px;
}

.form-filler {
    width: 100;
    height: 120px;
}

.footer-CR {
    color: white;
}
.login .input-field > label {
    user-select: none;  
}

.login-copyright {
    font-size: 12px;
    color: #b3b3b3;
    text-align: center;
    padding: 0 16px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    z-index: 10;
    background-color: #452767;
}

.osjs-login-error {
    //background: #fae1dc;
    color: #ff2b00;
    //border-color: #fae1dc;
    min-height: 24px;
    font-size: 13px;
    line-height: 1.23;
    text-shadow: none;
    position: relative;
    padding: 4px;
    margin-bottom: 1rem;
    //border: 1px solid transparent;
    //border-radius: 2px;
}

@media screen and (max-width: 768px) {
  #ox-login-form {
    width: 100%;
    text-align: center;
    position: relative;
    margin: 30px;
    overflow: auto;
  }
  .form-wrapper__inner{
    padding:30px;
  }
  .ox-imgDiv{
    margin-bottom: 30px;
  }
}