
//Colors
    $primary: #275362;
    $purple : #835d86;
    $blue   : #4495d1;
    $green  : #319966;
    $grey   : #575757;

//Neturals
    $text   : #333333;
    $black  : #222222;
    $white  : #ffffff;

//Layout Variables
    $bdr-rad: 4px;
    $shadow :rgba(0,0,0,0.1);
    $font   : 'Quicksand';

//Misc
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');