.Window_Preferences {
  // @import "./public/scss/notifTheme.css";
  @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
  font-family: "Roboto";

  // .input-field > label {
  //   font-size: 16px;
  //   color: #333 !important;
  //   margin-top: 3px !important;
  //   margin-bottom: 3px !important;
  // }

  .row .col.s12.s6 {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/***
New Profile Page
***/
.profile-sidebar {
  
}
.margin-top-20 {
  margin-top: 20px !important;
}
.profileImage{
  text-align: center;
}

.myProfileDiv.row {
  height: inherit;
}

.card-columns {
  padding: 5%;
}

.card-title .h5 {
  text-align: center;
}

.col-md-3, .col-md-9 {
  height: inherit;
}

.col-md-3 {
  overflow-y: scroll;
  left: 16px;
}

.tabs{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: inherit;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.tab-link{
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  margin-right: 0;
  background-color: transparent;
  border: none;
  color: #444;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tab-link:focus{
  outline: transparent;
}
.tab-link:hover,.tab-link:focus{
  border-color: #e9ecef #e9ecef #dee2e6;
  outline: 0;
}
.tab-link-active{
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #30C2D2;
  box-shadow: inset 0 -2px 0 #30C2D2;
  color: #30C2D2;
}
.tab-content .contentDiv{
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.links {
  padding: .75rem 1.25rem;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.visibleTabStyle {
  display: block;
}
.profile-img{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-content {
  overflow: hidden;
}

/* PROFILE SIDEBAR */
.profile-sidebar-portlet {
  padding: 30px 0 0 10px !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 13px;
  font-weight: 800;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  margin-right: 5px;
}
.profile-userbuttons .btn:last-child {
  margin-right: 0;
}

.profile-userbuttons button {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
}

.profile-usermenu {
  margin-top: 30px;
  padding-bottom: 20px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 16px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 16px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

.profile-stat {
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f4f7;
}

.profile-stat-title {
  color: #7f90a4;
  font-size: 25px;
  text-align: center;
}

.profile-stat-text {
  color: #5b9bd1;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}

.profile-desc-title {
  color: #7f90a4;
  font-size: 17px;
  font-weight: 600;
}

.profile-desc-text {
  color: #7e8c9e;
  font-size: 14px;
}

.profile-desc-link i {
  width: 22px;
  font-size: 19px;
  color: #abb6c4;
  margin-right: 5px;
}

.profile-desc-link a {
  font-size: 14px;
  font-weight: 600;
  color: #5b9bd1;
}

.profile-desc-link a span:hover {
  font-size: 14px;
  font-weight: 900;
  color: #5b9bd1;
}

/* END PROFILE SIDEBAR */
/* RESPONSIVE MODE */
@media (max-width: 991px) {
  /* 991px */
  /* 991px */
  .profile-sidebar {
    float: none;
    width: 100% !important;
  }

  .profile-sidebar > .portlet {
    margin-bottom: 20px;
  }

  .profile-content {
    overflow: visible;
  }
}
  .password {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .tabLayout {
    width: 100%;
    // border-bottom: solid 10px #333333;
    // border-top: solid 10px #333333;
    background-color: #648894;
    display: flex;
    flex-direction: row;
    margin: auto;
    button:hover {
      color: #012733;
    }
    button {
      justify-content:center;
      flex-grow: 1;
      color: white;
      font-size: 1.5rem;
      display: flex;
      // border: solid 3px #333333;
      border-bottom: solid 10px #648894;
      border-top: solid 10px #648894;
      flex-direction: row;
      align-items: center;
      span {
        padding-left: 0.5rem;
        font-size: 19px;
      }
    }
  }

  .rwt__tabs[data-rwt-vertical="true"] {
    display: flex;
  }

  .rwt__tablist[aria-orientation="vertical"] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #ddd;
    margin-right: 1rem;
  }

  .rwt__tab {
    background: transparent;
    border: 0;
    text-align: left;
    font-family: inherit;
    font-size: 18px;
    padding-left: 5px;
    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);

    > i {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .rwt__tab[aria-selected="false"]:hover,
  .rwt__tab:focus {
    outline: 0;
    // background-color: #f4f4f4;
    // background-color: rgba(0, 0, 0, 0.05);
  }

  .rwt__tab[aria-selected="true"] {
    position: relative;
  }

  .rwt__tab[aria-selected="true"]:after {
    content: "";
    position: absolute;
  }

  .rwt__tablist:not([aria-orientation="vertical"])
    .rwt__tab[aria-selected="true"]:after {
    bottom: -9px;
    // border-radius: 55px;
    left: 0;
    width: 100%;
    border-bottom: 2.5px solid #ffffff;
    transform: scaleY(0.5);
  }

  .rwt__tablist[aria-orientation="vertical"]
    .rwt__tab[aria-selected="true"]:after {
    right: -1px;
    top: 0;
    height: 100%;
    border-right: 3px solid #ffffff;
  }

  .rwt__tabs {
    height: 100%;
    width: 100%;
  }

  .rwt__tabpanel {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 45px);
  }

  .form {
    padding: 15px;
    position: relative;
  }

  .AvatarPicker-canvas {
    margin-top: 150px;
    position: relative;
  }

  #click1 {
    display: contents;
  }

  $accent: #00bcd4;
  $primary: #212121;
  $secondary: #727272;

  $scoreRed: #f44336;
  $scoreYellow: #ffeb3b;
  $scoreGreen: #4caf50;
  $tabColor: #648894;

  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }

  .password__show {
    background: #000;
  }

  #iconj {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
  }

  .errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }

  #name {
    font-size: 15px;
    color: #333 !important;
  }

  .name {
    font-size: 15px;
    color: #333 !important;
  }

  .row {
    padding-bottom: 0% !important;
    padding-top: 0% !important;
    margin-bottom: 5px !important;
  }

  .tabHeader {
    font-size: 16px;
  }

  .marginsize {
    margin-bottom: 20px !important;
    margin-top: 29px;
    font-size: 16px;
  }

  .marginsize2 {
    margin-top: 22px !important;
    margin-bottom: 13px !important;
  }

  .about {
    margin-top: 0px !important;
  }

  .interest {
    margin-top: 13px !important;
  }

  .formmargin {
    margin-right: 2% !important;
    margin-left: 2% !important;
    margin-bottom: 10%!important;
  }

  .gender {
    margin-top: 15px;
  }

  .marginstyle {
    margin-top: 19px;
  }

  #gender {
    font-size: 16px;
    padding-left: 5px;
  }

  #info {
    padding: 0% !important;
  }

  .country {
    margin-left: 16px;
    font-size: 16px;
    color: #343a40;
    margin-bottom: 20px !important;
    margin-top: 8px !important;
  }

  .dropdownstyle {
    margin-top: 15px !important;
    width: 100%;
    height: 40px;
    background: ghostwhite;
    margin-left: 15px;
    border: cornsilk;
  }

  #country {
    width: 100%;
    height: 35px;
    background: ghostwhite;
    border: cornsilk;
  }

  #rowdob {
    margin-bottom: 12px !important;
  }

  .k-datepicker {
    width: 100%;
  }

  #phoneno {
    margin-top: 5px !important;
    width: 125%;
    margin-bottom: 0px !important;
  }

  .textareaField {
    font-size: 17px;
    margin-top: 15px;
    width: 100%;
    border: 1px solid #9e9e9e;
  }

  div.click-to-top span {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 0;
    background: #333;
    width: 400px;
    color: #fff;
  }

  div.click-to-top:hover span {
    display: block;
  }

  .click-to-top {
    margin-left: -505px;
    margin-top: 4px;
  }

  div.datetooltip span {
    display: none;
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    right: 0;
    background: #333;
    width: 390px;
    height: 90px;
    color: #fff;
  }

  div.datetooltip:hover span {
    display: block;
  }

  #dateicon {
    margin-top: 15px !important;
  }

  #labelname {
    font-size: 16px;
    color: black !important;
  }

  .timezone {
    font-size: 16px;
    color: #343a40;
  }

  div#localtimezone {
    line-height: 35px;
  }

  select {
    height: 35px;
    background: ghostwhite;
    border: 0.5px solid #d5e4e8;
    width: 100%;
  }

  .dateformat {
    margin-left: -12px;
  }

  div.select.inner {
    height: 100px;
  }

  div.select.open {
    height: 100px;
  }

  div#datef,
  label#imageLabel,
  label#styleLabel,
  label#colorLabel,
  #iconsLabel,
  #soundsLabel {
    line-height: 40px;
    font-size: 16px;
    color: #343a40;
  }

  .imageBtn {
    color: white;
    background: #4c636b;
    margin: 10px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
  }

  #row2 {
    padding-top: 0% !important;
    margin-bottom: 0px !important;
    align-items: baseline;
  }

  .preferencesRadio {
    transform: scale(1.5);
  }

  .radioLabel {
    padding-right: 25px;
  }

  .componentDiv {
    width: 99%;
  }

  .firstNameLabel,
  .lastNameLabel {
    color: #333;
    font-size: 16px;
  }

  .firstLastNameDiv {
    padding: 0px !important;
    margin-top: 20px;
  }

  .profileImageDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50%;
    margin: 20px 0px 20px 0px;
    div.displayImage:hover .middle {
      display: block;
      opacity: 1;
    }

    div.displayImage .middle {
      display: none;
    }
  }

  .displayImage:hover .displayImage {
    opacity: 0.5;
  }

  .text {
    color: black;
    font-size: 16px;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: relative !important;
    top: -120px;
    text-align: center;
  }

  .displayImage{
    width: 170px;
    height: 170px;
  }
  .chooseWebcamDiv,
  .chooseImageDiv {
    width: 200px;
    height: 238px;
  }

  .displayImage {
    opacity: 1;
  }

  .profileImage {
    margin: auto;
  }

  div.profileImage * {
    position: unset;
  }

  .chooseWebcamDiv{
    .imgBtn1{
      width: 49%;
    }
  }

  .imgBtn,
  .imgBtn1,
  .imgBtn2 {
    // width: 49%;
    background-color: black;
    cursor: pointer;
    text-align: center;
  }

  .imgBtn1,
  .imgBtn2 {
    display: inline-block;
    margin: 1px;
    padding: 0px 14px;
  }

  .imgBtn2 {
    margin-top: 3px;
    padding: 0px 18px;
  }

  .chooseWebcamDiv,
  .chooseImageDiv {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .prefrencesMainDiv, .displayImage{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .preferenceForm{
    width: 98%;
  }

  .webCamImage {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #9e9e9e;
  }

  .webCam {
    border: 1px solid #9e9e9e;
  }

  .infoDiv {
    padding: 5px;
  }
  .mandatory:after {
    content: " *";
    color: #e02222;
    font-size: 16px;
  }

  .k-toolbar {
    top: 0px;
    position: sticky;
    z-index: 1;
  }

  .colorPicker {
    height: 25px;
    padding: 1px;
  }

  .react-phone-number-input__icon {
    width: 29px;
    height: 21px;
  }

  .k-editor {
    height: unset;
    overflow: unset;
  }

  .k-content {
    height: 15vh;
  }
  input:not([type]),
  input[type="date"]:not(.browser-default),
  input[type="datetime-local"]:not(.browser-default),
  input[type="datetime"]:not(.browser-default),
  input[type="number"]:not(.browser-default),
  input[type="search"]:not(.browser-default),
  input[type="time"]:not(.browser-default),
  input[type="url"]:not(.browser-default),
  textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: border 0.3s, -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s, border 0.3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
  }

  // React Bootsrap Form

  .text-muted {
    color: #f31700 !important;
  }

  .edit-profile-form {
    margin-top: 12px;
  }
  .edit-profile-form label {
    color: #314e58;
  }
  .confirm-password-form {
    padding-top: 10px;
    padding-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-control:focus {
    border-color: #2f6d82e6;
  }
  .preferenceForm-btn {
    color: #fff;
    background-color: #506d77;
    border-color: #506d77;
  }
  .preferenceForm-showbtn {
    color: #fff;
    background-color: #82979e;
    border-color: #82979e;
  }
  .tooltip {
    font-size: 0.375rem !important;
  }
  #password-tooltip .tooltip-inner {
    background: "rgb(231, 222, 234)" !important;
    color: "black";
    font-size: ".675rem";
    width: "200px";
  }
  .preferenceForm label {
    color: #314e58;
  }
}

#formio_loader_123 {
  height: inherit;
}