.Window_Preferences {
}

.rwt__tabs[data-rwt-vertical="true"] {
	display: flex;
}



.rwt__tablist:not([aria-orientation="vertical"]) {
	border-bottom: 1px solid #ddd;
	position: relative;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	border-right: 1px solid #ddd;
	margin-right: 1rem;

	

}

.rwt__tab {
	background: transparent;
	border: 0;
	text-align:left;
	font-family: inherit;
	font-size: inherit;
	// padding: 1rem 2rem;
	padding-left: 5px;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
  > i{
  	padding-left:10px;
  	padding-right:10px;
  }
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: #f4f4f4;
	background-color: rgba(0,0,0,0.05);
}

.rwt__tab[aria-selected="true"] {
	position: relative;
}

.rwt__tab[aria-selected="true"]:after {
	content: '';
	position: absolute;
}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
  bottom: -1px;
	left: 0;
	width: 100%;
	border-bottom: 3px solid #00d8ff;
}

.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: 3px solid #00d8ff;
}

.rwt__tabs{
	height:100%;
	position:fixed;
	width:100%;
}
.rwt__tabpanel{
	width:100%;
	overflow-y:auto;
	height:calc(100% - 92px);
}
.form{
	padding:15px;
	position:relative;
}

//  .tab1{
// 	background-image: url('/apps/Preferences/BG3.png');
	
//  }

//  .tabHeader{
// 	 padding-bottom: 10%;
//  }

//  .tab1{
//  	position: absolute;
// 		 top: 60px;
	
//  }

.AvatarPicker-canvas{
	margin-top: 150px;
// width:40%;
	position: relative;
}
#click1{
	display: contents;
}

$accent: #00BCD4;
$primary: #212121;
$secondary: #727272;

$scoreRed: #F44336;
$scoreYellow: #FFEB3B;
$scoreGreen: #4CAF50;


.password{
	display: block;
	position: relative;
	//text-transform: uppercase;
	//font-weight: 700;
	font-size: 15px;
	width: 100%;
	color: $secondary;
	
	&__input{
	  display: block;
	  text-transform: none;
	  width: 100%;
	  height: 42px;
	  border-width: 0 0 1px;
	  border-style: solid;
	  border-color: #B6B6B6;
	  font-weight: 400;
	  color: $primary;
	  
	  &:focus, &:active{
		border-color: $accent;
		outline: 0;
	  }
	}
	
	&__show{
	  cursor: pointer;
	  position: absolute;
	  bottom: 11px;
	  height: 16px;
	  right: 0;
	  background: $secondary;
	  color: white;
	  padding: 4px 8px;
	  border-radius: 4px;
	  font-weight: 700;
	  font-size: .8em;
	  margin-bottom: 10px;
	}
	
	&__strength{
	  position: absolute;
	  width: 0%;
	  height: 4px;
	  bottom: -8px;
	  left: 0;
	  background: transparent;
	  transition: all 300ms ease-in-out;
	  
	  &[data-score="null"]{
		width: 0;
		background: red;
	  }
	  
	  &[data-score="0"]{
		width: 5%;
		background: $scoreRed;
	  }
	  &[data-score="1"]{
		width: 25%;
		background: $scoreRed;
	  }
	  &[data-score="2"]{
		width: 50%;
		background: $scoreYellow;
	  }
	  &[data-score="3"]{
		width: 75%;
		background: $scoreGreen;
	  }
	  &[data-score="4"]{
		width: 100%;
		background: $scoreGreen;
	  }
	}
  }