.Window_Analytics {
    @import '~bootstrap/dist/css/bootstrap.css';
    @import '~@fortawesome/fontawesome-free/css/all.css';
    @import "./components/burger-menu.css";
}

.osjs-window-header {
    background: #265160;
}

.osjs-window-title {
    color:white;
}

.full-height {
    height:100vh;
}

.full-width {
    width:100%;
}

.no-padding {
    padding:0px;
}

.page-body {
    height:calc(100%); /* Same height as .osjs-window-content */
}

.page-body .page-title {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    padding:0.5em;
}

.page-body .page-content {
    overflow-y:scroll;
    height:calc(100% - 4.0em); /* Height of .page-body minus title bar height. */
    
}

.page-body .dashboard {
    padding:20px;
    height:calc(100%);
}

.datasource-modal .modal-body{
    margin-left:15px;
}

.page-content .data-source,.page-content .query{
    margin-left: 0.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    box-shadow: 0px 3px 8px 0px #907b7b;
    height: auto;
}

.query-form{
    width: 100%;
    float: left;
    padding: 2em;
    background:#a9c4c4;
    border-radius: 19px;
    color:#275362;
    margin-bottom: 1em;
    }
.query-result-div{
    width: 100%;
    float: left;
    margin-bottom: 1em;
}
.query-form label{
color:#275362;
    
}
.errorMsg {
    color: #cc0000 !important;
}
.query-form .btn{
    margin-right: 5px;
}

.disabled-btn{
    pointer-events: none;
    opacity: 0.5;
}

.query-result-tab{
    height: 30vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    background: #8cb5b536;
}

.query-result-div .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    outline: 0!important;
}

.querylist-div{
    padding:2em;
    background: #8cb5b536;
    
}