.Window_Analytics {
    @import '~bootstrap/dist/css/bootstrap.css';
    @import '~@fortawesome/fontawesome-free/css/all.css';
    @import "./components/burger-menu.css";
}

.osjs-window-header {
    background: #265160;
}

.osjs-window-title {
    color:white;
}

.full-height {
    height:100vh;
}

.full-width {
    width:100%;
}

.no-padding {
    padding:0px;
}

.page-body {
    height:calc(100%); /* Same height as .osjs-window-content */
}

.page-body .page-title {
    text-align:center;
    font-size:2em;
    font-weight:bold;
    padding:0.5em;
}

.page-body .page-content {
    overflow-y:scroll;
    height:calc(100% - 4.0em); /* Height of .page-body minus title bar height. */
    
}

.page-body .dashboard {
    padding:5px;
    height:calc(100%);
}


  //menu css
  .Window_Analytics .bm-item-list .bm-item{
    line-height: 2em !important;
    padding-left: 1em;
}
.Window_Analytics .bm-item-list .bm-item i{
    padding-right: 0.5em;
}

.Window_Analytics .bm-item:hover{
    color: #ffffff !important;
}

.Window_Analytics .bm-menu{
    padding: 2.5em 0 0 0 !important;
}

.Window_Analytics .activateDash .react-switch{
    margin-top: 10px !important;
}

.Window_Analytics .deactivateDash .react-switch{
    margin-top: 6px !important;
}