.osjs-window[data-id=MailApplicationWindow] {

    .osjs-window-icon{
        background-color: #4495D1;
    }
    .osjs-window-button[data-action=minimize] > div {
        background-position: 50% 50%;
        background-color: #c75050;
        background-image: url('./close.png');
    }
    .osjs-window-button[data-action=minimize] {
        min-width: 3em;
    }

    // Changing the Icon cursor from Pointer to Auto
    .osjs-window-icon > div {
        cursor: auto!important;
    }
    .osjs-window-title > div {
        cursor: auto!important;
    }
}
