// ---SweetAlert2 Fixes (Start)---

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: visible !important;
}

.swal2-shown {
  overflow: visible !important;
}
// ---SweetAlert2 Fixes (End)---

.Window_Admin {
  @import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
  @import "./node_modules/bootstrap/dist/css/bootstrap.css";
  @import "./node_modules/@progress/kendo-theme-default/dist/all.css";

  .k-grid-norecords {
    width: inherit !important;
  }

  .grid-no-records {
    padding-top: 10%;
    height: 100%;
    width: 33%;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .k-grid-norecords :hover {
    // background-color: #ededed00!important;
    cursor: default;

    .list-group {
      background-color: revert;
    }
  }

  .noRecords :hover {
    background-color: transparent;
  }

  // move to gui

  .k-clear-value {
    display: none !important;
  }

  .k-multiselect-wrap {
    input:focus {
      outline: none;
      border-color: none;
      box-shadow: none;
    }
  }

  .custom-file-container__image-preview {
    background-size: contain;
    overflow: hidden;
  }

  .manage-btn {
    background-color: #ff6358;
    border-radius: 10px;
    padding: 0.5rem;
  }

  tr {
    th.k-header {
      font-size: larger;
      background-color: #546e7a;
      color: #f8f0ee;
      font-weight: bolder;
      font-family: "Century Gothic", "Futura", "Didact Gothic", san-serif;
    }
  }

  .multiselectWindow {
    .k-window-content {
      padding: 0px;
    }
  }

  // move to gui

  .privilegeGrid {
    th {
      .k-link {
        text-align: center;
      }
    }
  }

  .k-checkbox-label::before {
    border-color: #546e7a;
    background-color: #f5f5f5;
  }

  .gridBanner {
    max-width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: fill-available;
  }

  legend.form-label {
    font-size: 1.5rem;
    color: #3d658f;
  }

  // ---Form Validation (Start)---

  .required-label:after {
    content: " *";
    color: red;
    font-size: 15px;
  }

  // ---Form Validation (End)---

  // ---HTML Elements Direct (Start)---

  input {
    border: 2px solid #dadada;
    border-radius: 7px;
    padding: 2px;
  }

  input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

  .input[readonly] :focus {
    outline: none;
    border-color: none;
    box-shadow: none;
  }

  // ---HTML Elements Direct (End)---

  // ---Custom Form Eements (Start)---

  .text-area-custom {
    ::-webkit-input-placeholder {
      color: #9e9e9e;
    }

    :-ms-input-placeholder {
      color: #9e9e9e;
    }

    ::placeholder {
      color: #9e9e9e;
    }
  }

  // ---Custom Form Eements (End)---

  // ---Currency Picker (Start)---
  .select-currency {
    input {
      width: 100%;
      padding: 9px 12px;
      font: inherit;
      box-sizing: border-box;
      outline: 0;
      background: #fff;
      border: 1px solid #e6ebec;
      border-radius: 2px;
      color: #474747;
    }

    ::-webkit-input-placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    ::-moz-placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    :-ms-input-placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    ::placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    .react-autosuggest__suggestions-container {
      width: 100%;
      min-width: 100%;
    }
  }
  // ---Currency Picker (End)---

  // ---TimeZone Picker (Start)---

  .timeZonePicker {
    div {
      display: flex;
      width: inherit;
      font: 15px sans-serif;
      position: relative;
    }

    ::-webkit-input-placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    ::-moz-placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    :-ms-input-placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    ::placeholder {
      color: #9e9e9e;
      font-size: 16px;
    }

    input {
      width: 100%;
      padding: 9px 12px;
      font: inherit;
      box-sizing: border-box;
      outline: 0;
      background: #fff;
      border: 1px solid #e6ebec;
      border-radius: 2px;
      color: #474747;
    }

    ul {
      position: absolute;
      z-index: 15;
      top: 100%;
      left: 0;
      right: 0;
      border-radius: 0 0 3px 3px;
      position: absolute;
      list-style: none;
      text-align: left;
      padding: 0;
      margin: 0 0 0 -1px;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      border: 1px solid #ccc;
      white-space: nowrap;
      max-height: 200px;
      overflow-y: scroll;
      display: none;
    }

    li {
      display: block;
    }

    button {
      color: #444;
      padding: 5px 12px;
      cursor: pointer;
      outline: none;
      display: block;
      border: 0;
      width: 100%;
      text-align: left;
      border-radius: 0;
      font: inherit;
      background: transparent;
    }

    button.focus {
      background: #f0f0f0;
    }

    ul.open {
      display: block;
    }

    input::-ms-clear {
      display: none;
    }
  }

  // ---TimeZone Picker (End)---

  // ---Burger Menu Component (Start)---

  .bm-item-list {
    outline: none;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #e0e0e0;
    transition: color 0.2s;
    margin-top: 4%;
    padding-bottom: 8%;
  }

  /* The rest copied directly from react-burger-menu docs */

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 55px;
    height: 55px;
    left: 21px;
    top: 65px;
    button {
      outline: none;
    }
  }

  .bm-menu-wrap {
    position: absolute !important;
  }

  .bm-icon {
    outline: none;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    display: none;
    right: 10% !important;
    button {
      top: 8px !important;
      outline: none;
    }
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
    height: 30px !important;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    width: 87% !important;
    overflow: hidden !important;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    overflow-y: auto;
    overflow-x: hidden;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .bm-menu {
    .block {
      display: none;
    }
    .titles {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      font-size: 1.3rem;
      text-align: center;
      outline: none;
    }
    .titles:hover {
      color: white;
      transform: scale(1.1);
    }

    .dashIcons {
      padding-left: 0%;
      display: flex !important;
      justify-content: space-between;
      flex-direction: column;
      text-align: left !important;
      outline: none;
      height: unset;

      .titles {
        text-align: left !important;
      }
    }
  }

  // ---Burger Menu Component (End)---

  .read-only-mode {
    padding: 5px;
    align-content: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    background-color: lightblue;
    margin: 15px;
    border-radius: 10px;

    h5 {
      margin: auto;
    }

    svg {
      font-size: 2.5rem;
      right: 65px;
      top: 33px;
      position: absolute;
    }
  }

  .notification-close {
    top: 10px !important;
  }

  .control-label {
    font-size: 0.8rem;
    font-weight: bold;
    color: #52657a;
  }

  .form-control {
    font-size: 1rem;
  }

  .form-hint {
    font-size: 0.7rem;
    line-height: 1.4;
    margin: -5px auto 5px;
    color: #999;
  }

  .form-hint.error {
    color: #c00;
    font-size: 0.8rem;
  }

  .password-count {
    bottom: 85px;
    right: 15px;
    font-size: 1rem;
  }

  .password-show {
    bottom: 29px;
    right: 83px;
    font-size: 1rem;
  }

  .strength-meter {
    position: relative;
    height: 3px;
    background: #ddd;
    margin: 7px 0;
    border-radius: 2px;
  }

  .strength-meter:before,
  .strength-meter:after {
    content: "";
    height: inherit;
    background: transparent;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 6px 0;
    position: absolute;
    width: calc(20% + 6px);
    z-index: 10;
  }

  .strength-meter:before {
    left: calc(20% - 3px);
  }

  .strength-meter:after {
    right: calc(20% - 3px);
  }

  .strength-meter-fill {
    background: transparent;
    height: inherit;
    position: absolute;
    width: 0;
    border-radius: inherit;
    transition: width 0.5s ease-in-out, background 0.25s;
  }

  .strength-meter-fill[data-strength="1"],
  .strength-meter-fill[data-strength="2"] {
    width: 20%;
    background: darkred;
  }

  .strength-meter-fill[data-strength="3"],
  .strength-meter-fill[data-strength="4"] {
    width: 40%;
    background: orangered;
  }

  .strength-meter-fill[data-strength="5"] {
    width: 60%;
    background: orange;
  }

  .strength-meter-fill[data-strength="6"] {
    width: 80%;
    background: yellowgreen;
  }

  .strength-meter-fill[data-strength="7"] {
    width: 100%;
    background: green;
  }

  .k-window-titlebar {
    display: none;
  }

  .k-window.k-window-wrapper {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }

  .k-filtercell > .k-filtercell-wrapper > input::placeholder {
    font-size: 1em;
  }

  .k-filtercell > .k-filtercell-wrapper > input {
    font-size: 1em;
    margin-bottom: 0px;
    height: 25px;
  }

  .privilegeGrid {
    .k-grid-content {
      overflow-x: hidden;
    }

    label {
      color: #6e6e6e;
    }
  }

  .privelegeGridcellFix {
    padding-left: 20px;
  }

  .custom-file-container__custom-file {
    width: 85% !important;
  }

  .fileUpload-area {
    margin: 20px;
    padding: 10px;
    padding-bottom: 35px;
    border-style: solid;
    border-color: #c5c5c5;
    border-width: 5px;
    border-radius: 15px;
  }

  [type="file"] {
    border: 0;
    clip-path: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

  [type="file"] + .btn-upload {
    background-color: #000;
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: background-color 0.3s;
  }

  [type="file"]:focus + .btn-upload,
  [type="file"] + label:hover {
    background-color: #f06151;
  }

  [type="file"]:focus + .btn-upload {
    outline: 0;
    outline-style: none;
    -moz-outline-style: none;
  }

  #adminHeader {
    margin: auto;
    margin-bottom: 0px;
    padding: 25px 0px 25px 0px;
    background-color: #a39f9f;
    font-weight: bolder;
    font-size: 35px;
    color: #183651;
  }

  .headerImage {
    max-width: 35%;
    max-height: 35%;
  }

  .d1 {
    cursor: pointer;
    padding: 20px;
  }

  .d2 {
    cursor: not-allowed;
  }

  .titles {
    font-family: "Century Gothic", "Futura", "Didact Gothic", san-serif;
    font-size: 22px;
    font-weight: 600;
  }

  .goBack {
    margin-right: 5%;
    cursor: pointer;
  }

  .k-dropdown {
    background-color: #9e9e9e;
  }

  form {
    .k-dropdown {
      background-color: #9e9e9e;
      height: 2.5rem;
    }
  }

  .k-dialog {
    width: 70%;
    height: 90%;
    margin-top: 25px;
  }

  // .k-filtercell-operator {
  //   display: none;
  // }

  .k-grid-content {
    overflow-y: scroll;
    cursor: pointer;
  }

  .k-grid {
    margin: 15px;
    width: 100%;
  }

  .k-tooltip-validation {
    color: rgb(212, 206, 206);
    display: none !important;
  }

  .saveCancelArea {
    padding-bottom: 0.5rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 15px;
    background-color: #3c404de1;
    z-index: 10;
  }

  //items per page for kendo grid

  .k-pager-wrap .k-pager-info {
    text-align: center;
  }

  .select-wrapper {
    width: 80px;
  }

  .manageIcons {
    font-size: 1.1em;
    color: #ffffff;
    display: block;
  }

  .mainHead {
    margin: 0px;
    width: 100%;
    text-align: center;
  }

  .DashBG {
    height: 100%;
    overflow-y: auto;
  }

  .dashIcons {
    width: 90%;
    height: 100%;
    margin-top: -3%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: safe center;
    min-height: -webkit-min-content; // works for opera and safari
    min-height: min-content;
  }

  #pageTitle {
    font-size: 25px;
    color: #183651;
    padding-top: 5px;
    font-family: "Century Gothic", "Futura", "Didact Gothic", san-serif;
    font-weight: 500;
  }

  .block {
    height: 105px;
    width: 130px;
    display: inline-block;
    margin: 25px;
    padding-bottom: 20px;
  }

  .dropdown-content {
    position: fixed;
  }

  .row {
    margin-bottom: 0px !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .k-multiselect-wrap .k-searchbar .k-input {
    height: auto;
  }

  .k-searchbar > input {
    border: none;
    padding: 5px;
    margin: 5px;
  }

  .k-clear-value {
    padding-top: 14px;
    padding-right: 19px;
    font-size: 25px;
  }

  .border-box {
    border: solid 1px #ccc;
    border-radius: 10px;
    padding: 20px;
  }

  #downloadApp {
    position: absolute;
    height: 12%;
    bottom: 3%;
    right: 4%;
  }

  #clearUploadImage {
    margin-top: -7px;
    margin-right: 15px;
    float: right;
  }

  .k-widget.k-state-invalid > .k-picker-wrap {
    border-color: #949494;
    color: #9e9e9e;
  }

  .radioLabel {
    font-size: 1rem;
    font-weight: 500;
    color: #727a82;
  }

  .e-multi-select-list-wrapper {
    top: 160px !important;
  }

  .k-multiselect-wrap {
    padding: 0.5rem;
    input {
      height: unset;
      margin: unset;
    }
  }
  .k-multiselect-wrap li.k-button {
    margin-bottom: 0.5rem;
  }

  .k-dateinput-wrap > input {
    padding-left: 5%;
  }

  .text-area-custom {
    ::-webkit-input-placeholder {
      color: #9e9e9e;
    }

    :-ms-input-placeholder {
      color: #9e9e9e;
    }

    ::placeholder {
      color: #9e9e9e;
    }
  }

  // ---Contact Number Input Component (Start)---

  .intl-tel-input {
    width: inherit;

    .country-list {
      width: inherit;
    }

    ::-webkit-input-placeholder {
      color: #9e9e9e;
    }

    :-ms-input-placeholder {
      color: #9e9e9e;
    }

    ::placeholder {
      color: #9e9e9e;
    }

    .contactPhone {
      position: relative !important;
      width: fill-available !important;
      width: -moz-available !important;
      /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available !important;
      /* Mozilla-based browsers will ignore this. */
    }
  }

  // ---Contact Number Input Component (End)---
}

.gender1,
.gender2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.gendersel {
  padding-bottom: 33px !important;
  margin-top: 0px !important;
}

#datecol {
  margin-top: 8px !important;
  margin-bottom: 11px !important;
}

#label1 {
  font-size: 11.2px !important;
}

.k-dropdown-wrap > .k-input {
  margin: auto;
}

.k-list-filter {
  padding: 0px !important;
  min-height: 35px;
}

.k-list-filter > .k-textbox {
  margin: 0px;
  height: 35px;
}
