.Window_Admin {
  @import "./public/scss/notifTheme.css";
  @import "./public/scss/kendo.css";
  @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
  @import "./node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "./node_modules/@syncfusion/ej2-react-inputs/styles/material.css";
  @import "./node_modules/@syncfusion/ej2-react-dropdowns/styles/material.css";
  @import "./node_modules/@syncfusion/ej2-react-buttons/styles/material.css";

  background: #f06151;

  .k-window-titlebar{
    display: none;
  }

  .k-filtercell>.k-filtercell-wrapper>input::placeholder {
    font-size: 1em;
  }

  .k-filtercell>.k-filtercell-wrapper>input {
    font-size: 1em;
    margin-bottom: 0px;
    height: 25px;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    opacity: 100 !important;
    pointer-events: visible !important;
  }

  .fileUpload-area {
    margin: 20px;
    padding: 10px;
    padding-bottom: 35px;
    border-style: solid;
    border-color: #c5c5c5;
    border-width: 5px;
    border-radius: 15px;
  }

  [type="file"] {
    border: 0;
    clip-path: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }

  [type="file"]+.btn-upload {
    background-color: #000;
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: background-color 0.3s;
  }

  [type="file"]:focus+.btn-upload,
  [type="file"]+label:hover {
    background-color: #f06151;
  }

  [type="file"]:focus+.btn-upload {
    outline: 0;
    outline-style: none;
    -moz-outline-style: none;
  }


  #adminHeader {
    margin: auto;
    margin-bottom: 0px;
    padding: 25px 0px 25px 0px;
    background-color: #a39f9f;
    font-weight: bolder;
    font-size: 35px;
    color: #183651;
  }

  .headerImage {
    max-width: 35%;
    max-height: 35%;
  }

  .d1 {
    cursor: pointer;
    padding: 20px;
  }

  .d2 {
    cursor: not-allowed;
  }

  .titles {
    font-family: 'Century Gothic',
      'Futura',
      'Didact Gothic',
      san-serif;
    font-size: 22px;
    font-weight: 600;
  }


  .goBack {
    margin-right: 5%;
    cursor: pointer;
  }

  .k-dropdown {
    background-color: #9e9e9e;
  }

  .k-dialog {
    width: 70%;
    height: 90%;
    margin-top: 25px;
  }

  .k-filtercell-operator {
    display: none;
  }

  .k-grid {
    margin: 15px;
    max-height: 32rem;
    height: -webkit-fill-available;
  }

  .k-tooltip-validation {
    color: rgb(212, 206, 206);
    display: none !important;
  }

  //items per page for kendo grid

  .k-pager-wrap .k-pager-info {
    text-align: center;
  }

  .select-wrapper {
    width: 80px
  }

  //Not working request test

  .k-dropdown-wrap>.k-input {
    margin: auto;
  }

  .k-list>li {
    font-size: 2.13em !important;
  }

  .k-list-filter>.k-icon {
    top: 43% !important;
  }

  .k-list-filter {
    padding: 0px !important;
  }

  .k-list-filter>.k-textbox {
    height: 27px;
    margin: 0px;
  }

  //end

  a {
    color: #656565 !important;
  }

  .manageIcons {
    font-size: 1.3em;
    color: #002C3E;
    display: block;
  }

  .mainHead {
    margin: 0px;
    width: 100%;
    text-align: center;
  }

  .container {
    width: 95%;
    margin: auto;
    position: relative;
    text-align: center;
    // padding-bottom: 10%;
    margin-top: 7%;
    display: flex;
  }

  #pageTitle {
    font-size: 25px;
    color: #183651;
    padding-top: 5px;
  }

  .block {
    height: 105px;
    width: 130px;
    display: inline-block;
    margin: 25px;
    padding-bottom: 20px;
  }

  .dropdown-content {
    position: fixed;
  }

  .row {
    margin-bottom: 0px !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .k-multiselect-wrap .k-searchbar .k-input {
    height: auto;
  }

  #downloadApp {
    position: absolute;
    height: 12%;
    bottom: 3%;
    right: 4%;
  }

  #clearAncImage {
    margin-top: -7px;
    margin-right: 15px;
    float: right;
  }
}

.gender1,
.gender2 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.gendersel {
  padding-bottom: 33px !important;
  margin-top: 0px !important;
}

#datecol {
  margin-top: 8px !important;
  margin-bottom: 11px !important;
}

#label1 {
  padding-left: 10.5px !important;
  font-size: 11.2px !important;
}