.Window_Admin {
  @import "./public/scss/notifTheme.css";
  @import "./public/scss/kendo.css";
  @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

  background: #f06151;

  .k-filtercell>.k-filtercell-wrapper>input::placeholder {
    font-size: 1em;
  }

  .k-filtercell>.k-filtercell-wrapper>input {
    font-size: 1em;
  }

  .fileUpload-area{
    margin: 20px;
    padding: 10px;
    padding-bottom: 35px;
    border-style: solid;
    border-color: #c5c5c5;
    border-width: 5px;
    border-radius: 15px;
  }

  [type="file"] {
    border: 0;
    clip-path: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;  
  }

  [type="file"] + .btn-upload {
    background-color: #000;
    border-radius: 4rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: background-color 0.3s;
  }
   
  [type="file"]:focus + .btn-upload,
  [type="file"] + label:hover {
      background-color: #f06151;
  }
   
  [type="file"]:focus + .btn-upload {
    outline: 0;
    outline-style: none;
    -moz-outline-style: none;
  }


  #adminHeader {
    margin: auto;
    margin-bottom: 0px;
    padding: 25px 0px 25px 0px;
    background-color: #a39f9f;
    font-weight: bolder;
    font-size: 35px;
    color: #183651;
  }

  .headerImage {
    max-width: 35%;
    max-height: 35%;
  }

  .d1 {
    cursor: pointer;
    // border: 3px solid #433e44b4;
    padding: 20px;
    // border-radius: 25px;
  }

  .d2 {
    cursor: not-allowed;
  }

  .titles {
    font-family: 'Century Gothic',
      'Futura',
      'Didact Gothic',
      san-serif;
    font-size: 22px;
    font-weight: 600;
  }


  .goBack {
    margin-right: 5%;
    cursor: pointer;
  }

  .k-dialog {
    width: 70%;
    height: 90%;
    margin-top: 25px;
  }

  .k-filtercell-operator {
    display: none;
  }

  .k-grid {
    margin: 15px;
    max-height: 32rem;
    height: -webkit-fill-available;
  }

  .k-filtercell-wrapper>.k-textbox {
    height: 25px;
  }

  .k-filtercell {
    height: 25px;
  }

  .k-tooltip-validation {
    color: rgb(212, 206, 206);
    display: none !important;
  }

  a {
    color: #656565 !important;
  }

  .manageIcons{
   font-size: 1.7em;
  color: #002C3E;
  display: block;
  }

  .mainHead {
    margin: 0px;
    width: 100%;
    text-align: center;
  }

  .container {
    width: 95%;
    margin: auto;
    position: relative;
    text-align: center;
    padding-bottom: 10%;
    margin-top: 8%;
    display: flex;
  }

  #pageTitle {
    font-size: 25px;
    color: #183651;
    padding-top: 5px;
  }

  .block {
    height: 105px;
    width: 130px;
    display: inline-block;
    margin: 25px;
    padding-bottom: 20px;
  }

  .dropdown-content {
    position: fixed;
  }

  .row {
    margin-bottom: 0px !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .k-multiselect-wrap .k-searchbar .k-input {
    height: auto;
  }

  .filepond--wrapper {
    width: 50%;
    margin-left: 20%;
  }

  .filepond--root {
    width: 300px;
  }
}