<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--
    OS.js - Copyright (c) 2011-2019
    Anders Evenrud (andersevenrud@gmail.com)
    https://github.com/os-js/
    -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google" content="notranslate" />
    <meta name="description" content="Enterprise Operating System" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
(function(g,e,o,t,a,r,ge,tl,y){
s=function(){var def='geotargetlygeocontent1594566857126_default',len=g.getElementsByClassName(def).length;
if(len>0){for(i=0;i<len;i++){g.getElementsByClassName(def)[i].style.display='inline';}}};ge=0;y=[];r=[];tl=function(){if(ge<5){
a=Math.round(new Date().getTime()/(86400000*10))-1837+ge;r[ge]='g'+198084335*a+'.co';t=g.getElementsByTagName(e)[0];y[ge]=g.createElement(e);
y[ge].async=true;y[ge].src='//'+r[ge]+'/gc?id=-MC2_p1cAFBcrrDGbhFZ&refurl='+g.referrer+'&winurl='+encodeURIComponent(window.location);
t.parentNode.insertBefore(y[ge],t);y[ge].onerror=function(){y[ge].remove();ge++;tl();};}else{s();}};tl();
})(document,'script');
</script>
<noscript><style>.geotargetlygeocontent1594566857126_default{display:inline !important}</style></noscript>
  </head>
  <body>
  </body>
</html>
