module.exports = {
  development: true,
  cloudflare: {
    enabled: true,
    token: '16082753d595462c9d749babc0446ea6'
  },
  wrapper: {
    url: "http://localhost:8080/"
  },
  ui: {
    url: "http://localhost:8081/"
  },
  desktop: {
    settings: {
      font: "Roboto",
      theme: "Vision"
    }
  }
}
