module.exports = {
  development: true,
  wrapper: {
    url: "http://localhost:8080/"
  },
  ui: {
    url: "http://localhost:8081/"
  },
  desktop: {
    settings: {
      font: "Roboto",
      theme: "Vision"
    }
  }
}
