// ---SweetAlert2 Fixes (Start)---

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: visible !important;
}

.swal2-shown {
  overflow: visible !important;
}
// ---SweetAlert2 Fixes (End)---

.Window_Contacts {
  @import "./node_modules/bootstrap/dist/css/bootstrap.min.css";
  @import "./node_modules/@progress/kendo-theme-default/dist/all.css";
  @import "./public/scss/notifTheme.css";

  .contactPanelMainDiv {
    overflow-y: auto;
    height: inherit;
  }

  .searchContact {
    border: 1px solid #ced4da !important;
    border-radius: 6px !important;
    height: 36px !important;
    margin: auto !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .teamMate {
    border-bottom: 1px solid #cdcdcd;
    .teamMateIcon {
      float: left;
      display: inline-block;
      height: 100%;
    }
    .teamMateInfo {
      float: left;
      display: inline-block;
      width: -moz-calc(100% - 100px);
      width: -webkit-calc(100% - 100px);
      width: calc(100% - 100px);
      height: 100%;
    }
  }

  .teamMate:after {
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
  }

  .teamMate h2 {
    font-size: 1.3em;
    font-weight: normal;
    padding-top: 17px;
    margin: 0;
  }

  .teamMate p {
    margin: 0;
    font-size: 0.8em;
  }

  .teamMate img {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
  }

  .teamMate:hover {
    background-color: #a2d4ff;
  }

  .mate-info {
    display: inline-block;
    vertical-align: top;

    p {
      padding-bottom: 3%;
    }
  }

  .panelbar-wrapper {
    max-width: auto;
    margin: 15px;
  }

  .contactList {
    height: 278px;
    overflow: auto;
  }

  .contactPanel {
    border: 1px solid #ced4da;
    border-radius: 6px;
    margin-top: 20px;
  }

  .topDiv {
    padding: 15px 30px;
  }

  .contactInfoDiv {
    border: 1px solid #cdcdcd;
    border-radius: 6px;

    .contactDetailsImage {
      width: 80px;
      height: 80px;
    }

    .teamMatetopDiv {
      background-color: #a2d4ff;
    }
  }

  .k-window-titlebar {
    display: none;
  }

  .k-window.k-window-wrapper {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
  }

  .k-panelbar > .k-item > .k-link {
    background-color: #265160;
    color: white;
  }

  .k-panelbar > .k-item > .k-link.k-state-selected {
    background-color: #546e7a;
  }

  .k-panelbar > .k-item > .k-link .k-icon {
    color: white;
  }

  .buttonHover:hover {
    cursor: pointer;
  }

  .paddingBottom {
    padding-bottom: 3%;
  }

  .paddingTop {
    padding-top: 3%;
  }

  .generalInfoDiv {
    height: 220px;
    overflow: auto;

    .generalInfoFields {
      display: inline-flex;
    }
  }

  .contactForm {
    margin: 15px;
  }

  .form-control {
    border: 1px solid #cdcdcd !important;
    border-radius: 6px !important;
    padding-left: 10px !important;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
  }

  .submitCancelButtonDiv {
    background-color: #265160;
    text-align: center;
    padding: 8px;
    bottom: 0%;
    width: 100%;
    left: 0%;
    position: fixed;

    .btn {
      width: 15%;
      margin: 0% 1%;
    }
  }

  .addEditPanel {
    margin-bottom: 7%;
    margin-top: 0%;
  }

  .displayInline {
    display: inline-block;
  }

  .paddingNone {
    padding: 0px;
  }

  .inputHeight {
    height: 36px !important;
  }

  .profileImage {
    text-align: -webkit-center;
    text-align: -moz-center;
    margin: auto;
  }

  .profileImageDiv {
    width: 170px;
    border-radius: 50%;
  }

  .profileImageDiv:hover .displayImage {
    opacity: 0.5;
  }

  .profileImageDiv:hover .middle {
    opacity: 1;
  }

  .displayImage,
  .chooseWebcamDiv,
  .chooseImageDiv {
    width: 170px;
    height: 170px;
  }

  .displayImage {
    opacity: 1;
    border: 1px solid #9e9e9e;
  }

  .text {
    color: black;
    font-size: 16px;
    width: max-content;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .imgBtn,
  .imgBtn1,
  .imgBtn2 {
    background-color: #265160;
    cursor: pointer;
  }

  .imgBtn1,
  .imgBtn2 {
    display: inline-block;
    margin: 1px;
    padding: 0px 14px;
  }

  .imgBtn2 {
    margin-top: 3px;
    padding: 0px 18px;
  }

  .chooseWebcamDiv,
  .chooseImageDiv {
    margin: auto;
  }

  .webCam {
    border: 1px solid #9e9e9e;
  }

  .webCamImage {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #9e9e9e;
  }

  .imgBtn {
    margin: 3px;
  }
  .useDefault {
    background-color: #265160;
    color: white;
    border-radius: 3px;
    padding: 3px;
    font-size: 0.875rem;
    margin: 3px;

    .checkbox {
      transform: scale(1.3);
      cursor: pointer;
      margin-left: 3px;
    }
  }

  .errorLabel {
    color: #dc3545;
  }
}
