.osjs-window[data-id=CalendarWindow] {
    .osjs-window-button[data-action=minimize] > div {
        background-position: 50% 50%;
        background-image: url('./close.svg');
    }
    // Changing the Icon cursor from Pointer to Auto
    .osjs-window-icon > div {
        cursor: auto!important;
    }
 }
.osjs-window[data-id=CalendarWindow] {

.osjs-window-icon{
//   background-color: #fab131;
}
}
