// ---SweetAlert2 Fixes (Start)---

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  height: 100% !important;
  overflow-y: visible !important;
}

.swal2-shown {
  overflow: visible !important;
}

.swal2-icon.swal2-warning::before {
  content: unset;
}
// ---SweetAlert2 Fixes (End)---

.k-list-scroller{
  font-size: 14px;
}

.k-popup{
  padding: 0px;
}
.Window_TaskApp1 {
  $primary-color: #275362;
  .fixDropDownIssue{
    .choices__list--dropdown{
      top: 0;
    }
  }  

  .formContent {
    height: 100%;
    overflow: scroll;
    font-size: xx-small;

    padding: 10px;
  }
  .pagination > .active > a,
  .pagination > .active > a:focus,
  .pagination > .active > a:hover,
  .pagination > .active > span,
  .pagination > .active > span:focus,
  .pagination > .active > span:hover {
    background-color: $primary-color;
  }
  .btn-primary {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }

  .k-button.k-primary {
    /*border-color: $primary-color;*/
    color: #fff;
    /*background-color: $primary-color;*/
  }
  .panel-primary > .panel-heading {
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
  }
  .form-control:focus {
    border-color: $primary-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #275362b8;
  }

  .page-link {
    color: $primary-color;;
  }

}
