//
// Panel
//

.osjs-panel {
  background: #007474;
}
div#appmenu {
    background-color: #336666;
}
.profile-visible{
  background-color: #336666;
}

.osjs-panel-item[data-name=windows] {
  & > div[data-focused=false] {
    opacity: 0.5;
  }
}
.appmenu .app-bar .category .caption{
  background-color: rgb(67, 145, 146);
}
.appmenu .app-search-bar-div{
  background: rgba(67, 145, 146, .5);
}
.osjs-panel-item--clickable {
  cursor: pointer;
  transition: all $transition-duration $transition-timing-function;
}
input#appsearch::placeholder {
    color: white;
}
input#appsearch {
    border-bottom: 1px solid #2e7374;
}

//
// Search
//

.osjs-search-input {
  border: 0 none;
  background-color: #fff;
}

.osjs-search-result {
  &:hover,
  &.osjs__active {
    background-color: #fff;
    color: #333;
  }
}
