.document-container {
    flex-direction: row !important;
    height: 100%;
}

.document-resizer {
    box-shadow: 1px 0 10px 0 #cccccc;
    cursor: ew-resize;
    height: 100%;
    width: 4px;
}

.document-resizer-highlight,
.document-resizer:hover {
    background: #1890ff;
}

.document-content {
    background: #f5f5f5;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.document-header {
    background: white;
    padding: 20px;
    margin: 10px 20px 4px 20px;
    max-height: 200px;
    overflow: auto;
}

.document-left-panel {
    border: 1px solid antiquewhite;
    height: 100%;
}
.document-row {
    height: 100%;
}