.document-details {
    flex: 1;
    padding:0px;
    margin: 0 20px 0 20px;
    background: white;
    overflow-y: scroll;
}
.document-folder {
    flex: 1;
    max-width: 150px;
    min-width: 150px;
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
}
:hover.document-folder{
    cursor: pointer;
}

.document-viewer {
    height: 100%;
}

.document-table {
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 8px;
    margin-right: 8px;
    width: 100%;
}

.document-metadata {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 24px 0;
}

.file-icon,
.folder-icon {
    color: #c4c4c4;
    font-size: 5rem;
}

.file-icon {
    padding: 8px 0;
}

.folder-icon.small {
    font-size: 3rem;
}

.folder-content-icon {
    color: #bfbfbf;
    font-size: 1.5em;
    margin-right: 8px;
}

.folder-content-name {
    vertical-align: text-top;
}

.document-table-header{
    align-items: center;
    background: white;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.document-table-filter{
    display: inline-flex;
    justify-content: space-around;
    align-items:'center'
}

.document-taskapp-details{
    margin: 0 20px 0 20px;
    background:white;
    flex:1;
    overflow-y:scroll;
}
