.GridCustomStyle {

  .k-grid{
    height: inherit;
  }

  .k-grid-content {
    overflow-y: scroll;
    cursor: pointer;
  }

  input {
    border: 2px solid #dadada;
    border-radius: 7px;
    padding: 2px;
  }

  input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

  input {
    border: 2px solid #dadada;
    border-radius: 7px;
    padding: 2px;
  }

  input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }

  .k-grid-norecords {
    width: inherit !important;
  }

  .grid-no-records {
    padding-top: 10%;
    height: 100%;
    width: 33%;
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .k-grid-norecords :hover {
    // background-color: #ededed00!important;
    cursor: default;

    .list-group {
      background-color: revert;
    }
  }

  .noRecords :hover {
    background-color: transparent;
  }

  .k-grid-container {
    tr.k-state-selected > td {
      background-color: #6c757d38 !important;
    }

    .k-state-selected {
      background-color: #6c757d38 !important;
    }
  }

  .k-filtercell > .k-filtercell-wrapper > input::placeholder {
    font-size: 1em;
  }

  .k-filtercell > .k-filtercell-wrapper > input {
    font-size: 1em;
    margin-bottom: 0px;
    height: 25px;
  }

  .manage-btn {
    //manage icons style and style
    background-color: #ff6358;
    border-radius: 10px;
    padding: 0.5rem;
    width: 2.2rem;
    height: 2.2rem;
  }

  .manageIcons {
    font-size: 1.1em;
    color: #ffffff;
    display: block;
  }
}
