<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--
    OS.js - Copyright (c) 2011-2019
    Anders Evenrud (andersevenrud@gmail.com)
    https://github.com/os-js/
    -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="google" content="notranslate" />
    <meta name="description" content="OS.js - JavaScript Cloud/Web Desktop Platform" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="deep-purple lighten-3">
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
