.osjs-window[data-id=CRMApplicationWindow] {

.osjs-window-icon{
  background-color: #85C657;
}

 // Changing the Icon cursor from Pointer to Auto
 .osjs-window-icon > div {
  cursor: auto!important;
}
}
