.Window_OXAdmin {
  @import "./public/scss/materialize.css";
  @import "./public/scss/notifTheme.css";
  @import "./public/scss/kendo.css";

  background: #f06151;

  // .d1:hover {

  //   transform: scale(1);
  //   transition: all ease-in-out 0.2s;

  //   .App-logo {
  //     transform: scale(1.25);
  //     transition: all ease-in-out 0.5s;
  //   }
  // }

  // @keyframes App-logo-spin {
  //   from {
  //     transform: rotate(0deg);
  //   }

  //   to {
  //     transform: rotate(360deg);
  //   }
  // }

  #adminHeader {
    margin: auto;
    margin-bottom: 0px;
    padding: 25px 0px 25px 0px;
    background-color: #a39f9f;
    font-weight: bolder;
    font-size: 35px;
    color: #183651;
  }

  .d1 {
    cursor: pointer;
    // border: 3px solid #433e44b4;
    padding: 20px;
    // border-radius: 25px;
  }

  .d2 {
    cursor: not-allowed;
  }

  .titles {
    font-size: 18px;
    font-weight: 600;
  }

  #appRow {
    max-width: 500px;
    margin-bottom: 0px;
  }

  #goBack {
    margin-right: 5%;
  }

  #userPage,
  #groupPage,
  #organisation,
  #project {
    padding: 10px;
  }

  #appRow p {
    font-weight: bolder;
    font-size: 20px;
    color: #183651;
  }

  #pageTitle {
    font-size: 25px;
    color: #183651;
    padding-top: 5px;
    margin-bottom: 15px;
  }

  #organization {
    padding: 5px 10px 5px 10px;
  }

  .k-dialog {
    width: 70%;
    height: 90%;
    margin-top: 25px;
  }

  .k-grid-content {
    height: 360px;
  }

  .k-tooltip-validation {
    color: rgb(212, 206, 206);
    display: none !important;
  }

  a {
    color: #656565 !important;
  }

  .mainHead {
    margin: 0px;
    width: 100%;
    text-align: center;
  }

  .container {
    width: 85%;
    margin: 10px auto;
    position: relative;
    text-align: center;
  }

  .block {
    height: 115px;
    width: 115px;
    display: inline-block;
    margin: 20px;
    padding-bottom: 20px;
  }

  .dropdown-content {
    height: "" !important;
  }

  .row {
    margin-bottom: 0px !important;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}