.border {
  border: 1px solid #275362;
}

.borderActive {
  border: 2px solid #275362;
  box-shadow: 0px 0px 3px 1px #275362;
}

.docListDiv {
  height: 100%;
}

// @media only screen and (max-width: 770px) {
//   .docListDiv {
//     position: inherit;
//     height: auto;
//   }
// }

.docList {
  margin-bottom: 10px;
  cursor: pointer;
}

.docListBody {
  text-align: center;
}

.docIcon {
  font-size: xx-large;
  padding-top: 5px;
  padding-bottom: 10px;
}

.iframeDoc {
  height: 100% !important;
  width: 100% !important;
  height: -moz-available;
  height: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
}

.react-pdf__Page {
  overflow: auto;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.docViewerComponent {
  display: flex;
  height: 100%;

  .docListBody.border {
    cursor: pointer;
  }

  .accordion {
    height: inherit;
    overflow: auto;
  }

  .docViewerWindow {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    .card-header {
      text-align: center;
      background-color: #275362;
      padding: 0px;

      button {
        color: white;
        font-weight: bolder;
        font-size: 1.15em;
        padding: 0.75rem 1.25rem;
      }
      .btn-primary:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }

  .card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #343a40;
  }
  .docItems.card {
    height: 6rem;
    margin: 5px;
    border-radius: 15px;
  }
}
