.rwt__tabs[data-rwt-vertical="true"] {
    display: flex;
  }

  .rwt__tablist[aria-orientation="vertical"] {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #ddd;
    margin-right: 1rem;
  }

  .form-builder-group-header .card-header{
    padding: 0;
  }
  .k-window-titlebar {
    display: none;
  }

  .k-window.k-widget {
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: 100% !important;
    position: fixed;
  }
  .k-window-content {
    padding: 0px;
  }
  .rwt__tab {
    background: transparent;
    border: 0;
    text-align: left;
    font-family: inherit;
    font-size: 18px;
    padding-left: 5px;
    transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);

    > i {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .rwt__tab[aria-selected="false"]:hover,
  .rwt__tab:focus {
    outline: 0;
    // background-color: #f4f4f4;
    // background-color: rgba(0, 0, 0, 0.05);
  }

  .rwt__tab[aria-selected="true"] {
    position: relative;
  }

  .rwt__tab[aria-selected="true"]:after {
    content: "";
    position: absolute;
  }

  .rwt__tablist:not([aria-orientation="vertical"])
    .rwt__tab[aria-selected="true"]:after {
    bottom: -9px;
    // border-radius: 55px;
    left: 0;
    width: 100%;
    border-bottom: 2.5px solid #ffffff;
    transform: scaleY(0.5);
  }

  .rwt__tablist[aria-orientation="vertical"]
    .rwt__tab[aria-selected="true"]:after {
    right: -1px;
    top: 0;
    height: 100%;
    border-right: 3px solid #ffffff;
  }

  .rwt__tabs {
    height: 100%;
    width: 100%;
  }

  .rwt__tabpanel {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 45px);
  }