.form-render{
  all: initial;
  @import "~bootstrap/dist/css/bootstrap.min.css";
  @import '~formiojs/dist/formio.full.css';
  .formio-component-well{
    p{
      li{
      padding:4px;
      }
    }
  }
  label{
    span{
      color:darkslategray;
    }
  }
  .bg-primary {
  background-color: #275262!important;
  color: white;
  }
  .text-muted{
  color:#ddd;
  }
}