.form-render {
  all: initial;
  @import "~bootstrap/dist/css/bootstrap.min.css";
  @import "~formiojs/dist/formio.full.css";
  .formio-component-well {
    p {
      li {
        padding: 4px;
      }
    }
  }
  label {
    span {
      color: darkslategray;
    }
  }
  .page-link {
    color: #275362;
  }
  .bg-primary {
    background-color: #275262 !important;
    color: white;
  }
  .text-muted {
    color: #ddd;
  }
  .form-control[disabled="disabled"] {
    background-color: #e9ecef;
  }
  .file {
    background: #f8d7da;
    margin: 10px;
    padding: 0px 13px 10px 13px;
    border-radius: 10px;

    .fileName{
      padding-bottom: 5px;
    }
  }

  .formio-component-file{
    a:not([href]){
      color: #007bff;
    }
  }
}
