.datasource-modal .modal-body{
    margin-left:15px;
}

.page-content .data-source,.page-content .query{
    margin-left: 0.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    height: auto;
}

.query-form{
    width: 100%;
    float: left;
    padding: 2em;
    padding-top: 0px;
    background:#a9c4c4;
    border-radius: 19px;
    color:#275362;
    margin-bottom: 1em;
    }
.query-result-div{
    width: 100%;
    float: left;
    margin-bottom: 1em;
}
.query-form label{
color:#275362;
    
}
.errorMsg {
    color: #cc0000 !important;
}
.query-form .btn{
    margin-right: 5px;
}

.disabled-btn{
    pointer-events: none;
    opacity: 0.5;
}

.query-result-tab{
    height: 30vh;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    background: #8cb5b536;
}

.query-result-div .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    outline: 0!important;
}

.querylist-div{
    padding:2em;
    background: #8cb5b536;
    
}
.query .btn-primary{
    color: #fff;
    background-color: #265160;
    border-color: #265160;
  }
  
.query .btn-primary:hover{
    background-image:none !important;
    background-color:#265160c4 !important;
  }
  
.query .deactivateDash .react-switch-bg{
    background: rgb(39, 83, 98)  !important;
  }
.query .react-switch-handle{
    background: #fff !important;
  
  }

  .disappear{
      display: none;
  }

  #add-query-btn{
    margin-left: 1em;
    margin-bottom: 10px;
  }