// ---SweetAlert2 Fixes (Start)---
body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow-y: visible !important;
}

.swal2-shown {
  overflow: visible !important;
}

//Force sweet alert dialog to show up on top of OS.JS iframe dialog.
body.swal2-shown .swal2-container, .swal2-container {
    z-index:10020;
}
// ---SweetAlert2 Fixes (End)---

