// Close Icon Does the Minimize Functionality. Do not Change this.
.osjs-window[data-id=ChatWindow] {

.osjs-window-icon{
  background-color: #85C657;
}
    .osjs-window-button[data-action=minimize] > div {
        background-position: 50% 50%;
        background-color: #c75050;
        background-image: url('./close.png');
    }
    // Changing the Icon cursor from Pointer to Auto
    .osjs-window-icon > div {
        cursor: auto!important;
    }
     .osjs-window-button[data-action=maximize] > div {
        background-color: white;
    }
 }

